/**
 * Additional layout for DokuBook Template
 *
 * @author:     Michael Klier <chi@chimeric.de>
 * @homepage:   http://www.chimeric.de
 */

div.dokuwiki div.header .logo {
  float: none;
  position: absolute;
  right: 0.6em;
  top: 0.3em;
}

div.dokuwiki div.header .logo a {
  color: __text_other__ !important;
}

div.dokuwiki div.user {
  float: none;
}

div.dokuwiki div.doc {
  float: left;
}
