/**
 * Print - additional CSS for the DokuBook Template
 *
 * @author:     Michael Klier <chi@chimeric.de>
 * @homepage:   http://www.chimeric.de
 */

div.dokuwiki div.stylehead { display: none; }
div.dokuwiki div.sidebar { display: none; }
div.dokuwiki a.action { display: none; }
