/**
 * Additional layout for DokuBook template
 *
 * @author:     Michael Klier <chi@chimeric.de>
 * @homepage:   http://www.chimeric.de
 */
div.dokuwiki div.header {
  height: 50px;
}

div.dokuwiki div.header .logo {
  float: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

div.dokuwiki div.header .logo a {
  color: __text_other__ !important;
}

div.dokuwiki div.user {
  float: none;
}

div.dokuwiki div.doc {
  float: left;
}

div.dokuwiki div.footerinc div.license {
  display: inline;
  padding: 0;
  font-size: 100%;
}

div.dokuwiki div.footerinc div.license img {
  float: none;
  margin: 0;
}
